.allVillages {
    padding-top: 0px;
    position: relative;
    top: 120px;
    margin-bottom: 30px;
}

.resultsRow {
    margin: 30px;
    margin-bottom: 200px;
    padding-top: 20px;
}

.villagesScroll {
    height: 630px;
    border-radius: 25px;
    overflow: hidden;
    overflow-y: auto;
}

.map {
    margin: 30px;
}
