.houseImages{
    width: 100%;
    height: 50%;
    margin-bottom: 20px;
}

.bigHouseImg{
    width: 100%;
    height: 720px;
    object-fit: cover;
    border-radius: 15px;
    margin: 0px;
    padding: 0px;
}

.smallHouseImg {
    border-radius: 15px;
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.mTop{
    margin-top: 10px;
}

.mBottom{
    margin-bottom: 10px;
}

.hidden{
    display: none;
}

.imgContainer {
    position:relative;
    display:inline-block;
    text-align:center;
}

.remove {
    position:absolute;
    bottom:10px;
    right:10px;
    width:100px;
    height:30px;
}

/* .imgContainer img {
  width: 100%;
  height: auto;
}

.imgContainer {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.imgContainer .remove{
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
} */