.houseCard{
    margin: 30px 20px;
    border-radius: 20px;
    border: none;
}

.houseCard:hover{
    box-shadow: 0px 12px 29px -3px rgba(0,0,0,0.1);
}

.houseCardImg{
    height: 400px;
    border-radius: 20px;
    object-fit: cover;
    display: block;
}

.myContainer {
  position: relative;
  width: 100%;
}

.overlayImg {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #f1f1f1;
  width: 120px;
  transition: .2s ease;
  opacity:0;
  padding: 20px;
  text-align: center;
}

.houseCard:hover .overlayImg {
  opacity: 1;
}

