.villageImg{
    width: 72vw;
    margin: 0 auto;
    height: 500px;
    object-fit: cover;
    /* z-index: -1; */
    border-radius: 25px;
}

.btnContainer {
display:inline-block;
position:relative;
}

.villageProfile {
    position: relative;
    top: 120px;
}

.firstLine {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

.myBtn{
    border-radius: 50px;
    /* margin: 20px auto 100px auto; */
    border-color: #f9a77a;
    color: #f9a77a;
    background-color: #fff;
}

.myBtn:hover{
    color: white;
    border-color: #f9a77a;
    background-color: #f9a77a;
}

.editImgBtn {
    margin-left: 10px;
    width: 150px;
    padding: 10px 0px;
}

.editProfileBtn {
    width: 150px;
    padding: 10px 0px;
}

.profileBtns {
    display: flex;
}

.features {
    background-color: #98a08f;
}