.profileImgDiv {
    width: 150px;
    height: 150px;
    border: 1px solid red;
    border-radius: 50%;
}

.profileImg {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}