.bgImg {
    width: 100%;
    border-radius: 25px;
    box-shadow: 0px 12px 29px -3px rgba(0, 0, 0, 0.15);
}

.hero {
    padding-top: 0px;
    /* z-index: -1; */
    border-radius: 35px;
    position: relative;
    top: 120px;
}

.center{
  position: sticky;
  top: 120px;
  margin-top: -280px;
  z-index: 3;
  display: flex;
  justify-content: center;
}

.firstSection{
  margin-top: 420px;
  padding: 150px;
  margin-bottom: 100px;
  color: rgb(0, 0, 0);
}

.firstSectionFlex{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.h2Weight{
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 30px;
}

.h3Weight{
  font-weight: 300;
  font-size: 1.6rem;
}

.big-btn{
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #98a08f;
  width: 220px;
  padding: 15px;
  border-radius: 50px;
  font-size: 1.2rem;
  margin-top: 75px;
  color: #98a08f;
}

.big-btn:hover{
  background-color: rgba(152, 160, 143, 1);
  box-shadow: 0px 12px 29px -9px rgba(152, 160, 143, 0.5);
  border: 2px solid rgb(152, 160, 143);
  color: white;
}